@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #09083f;
  color: #eee;
}

h1 {
  font-size: 2rem;
}

h2 {
  text-transform: uppercase;
  padding-bottom: 15px;
  padding-bottom: 10px;
}

p.stack {
  font-weight: bold;
}

aside.sidebar {
  display: flex;
  height: 100vh;
  position: fixed;
  width: 400px;
}

.tabs {
  background: #04041f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.tabs li {
  list-style: none;
}

.tabs a {
  text-decoration: none;
  color: teal;
  text-align: center;
  display: block;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.tabs a.inactive {
  opacity: 0.3;
}

.tabs a.active {
  opacity: 1;
}

.tabs a:hover {
  background: #09083f;
}

.tab-content > section {
  margin-bottom: 70px;
}

#profile,
#touch,
#information {
  height: 100vh;
}

#profile {
  width: 100%;
  background: linear-gradient(
      hsla(241, 77%, 14%, 0.6),
      hsla(241, 77%, 14%, 0.4)
    ),
    url(./img/slider_10.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  /* display: none; */
}

#touch {
  background: linear-gradient(
      hsla(241, 77%, 14%, 0.8),
      hsla(241, 77%, 14%, 0.6)
    ),
    url(./img/touch.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* display: none; */
}

#information {
  background: linear-gradient(
      hsla(241, 77%, 14%, 0.8),
      hsla(241, 77%, 14%, 0.6)
    ),
    url(./img/contact.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#information li {
  list-style: none;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#information h4 {
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 1.5px;
}

#information a,
#information i {
  color: teal;
  font-size: 1.3rem;
  text-decoration: none;
  display: inline-block;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.touch i {
  padding-right: 8px;
}

.social,
.hobbies {
  padding: 20px 0;
}

.social a {
  padding: 0 5px;
}

#touch h2,
#touch h3 {
  color: teal;
  text-align: center;
}

form input[type="submit"] {
  padding: 8px 15px;
  background: teal;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px rgb(7, 77, 77);
  color: #eee;
}

.fields > div {
  padding: 10px 0;
}

.field_01 input,
.field_02 input {
  border: none;
  border-bottom: 1px solid teal;
  background: none;
  display: block;
  width: 100%;
  outline: none;
  padding: 10px 0;
  color: teal;
}

.field_03 label {
  padding-bottom: 10px;
  display: inline-block;
}

textarea {
  display: block;
  width: 100%;
  background: none;
  border: 1px solid teal;
  padding: 10px;
  outline: none;
  color: teal;
}

.con {
  text-align: center;
  transform: translateY(400px);
}

.con a {
  color: teal;
  text-decoration: none;
  font-size: 1.2rem;
  display: inline-block;
  padding: 10px 10px 0 0;
}

#information {
  padding: 15px;
}

#content {
  padding: 20px;
  padding-left: 430px;
  width: 100%;
}

#about,
#services,
#experience {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #04041f;
}

#about p,
#services p,
#experience p {
  letter-spacing: 1.1px;
  line-height: 1.6;
}

#services ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  list-style: none;
}

#services li:last-of-type {
  grid-column: 1/3;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

#services ul i {
  color: teal;
  font-size: 2rem;
  padding-bottom: 10px;
}

#experience h3,
#experience h4 {
  padding-bottom: 10px;
}

#experience li {
  padding-bottom: 30px;
}

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 966px) {
  aside.sidebar {
    display: flex;
    height: auto;
    flex-direction: column;
  }

  .tabs ul {
    display: flex;
    align-items: center;
    padding: 20px 0;
  }

  .tabs a {
    margin-right: 20px;
  }

  #profile,
  #touch,
  #information {
    height: 100vh;
    padding: 0 20px;
  }

  #services ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    list-style: none;
  }

  #services li:last-of-type {
    grid-column: 1;
    text-align: left;
    max-width: none;
  }

  #sponsors h2 {
    text-align: center;
  }

  .sponsors {
    flex-direction: column;
  }
}

@media (max-width: 869px) {
  aside.sidebar {
    display: flex;
    height: auto;
    position: static;
    width: 100%;
  }

  #content {
    padding: 20px;
  }

  #profile,
  #touch,
  #information {
    height: 400px;
  }

  .con {
    transform: translateY(250px);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  }

  #sponsors h2 {
    text-align: left;
  }

  .con a {
    font-size: 1.5rem;
  }

  .sponsors {
    flex-direction: row;
  }
}

@media (max-width: 575px) {
  #sponsors h2 {
    text-align: center;
  }
  .sponsors {
    flex-direction: column;
  }
}
